# База даних SQLite
db.sqlite3
*.sqlite3
*.sqlite3-journal

# Завантажені медіафайли (папка /media/ в корені проєкту)
/media/

# Python кеш та компільовані файли
__pycache__/
*.py[cod]
*.egg-info/
pip-wheel-metadata/

# Папки віртуального середовища (якщо ви його створили локально всередині проєкту)
# Якщо ваше віртуальне середовище знаходиться поза проєктом, ці рядки не обов'язкові
venv/
env/
.venv/
ENV/

# Файли IDE / Редактора
.vscode/
.idea/
*.swp
*.swo